<p-drawer [(visible)]="open" [dismissible]="false" position="right" [header]="isUpdate() ? 'Modification' : 'Nouveau colis'" (onHide)="handleClose(true)" styleClass="!w-[30rem] rounded-l-2xl">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="h-full">
        <div class="flex flex-col justify-between gap-2 h-full">
            <div class="flex flex-col gap-2 overflow-y-auto overflow-x-hidden">
                <div class="flex flex-col gap-1">
                    <label for="type">Type de colis</label>
                    <p-select [options]="packageTypeOptions" formControlName="type" size="small" optionLabel="label" optionValue="id" [invalid]="form.get('type')?.invalid && (form.get('type')?.touched || form.get('type')?.dirty)" required />
                    @if (form.get('type')?.invalid && (form.get('type')?.touched || form.get('type')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Type de colis requis.</p-message>
                    }
                </div>
                <p-fieldset legend="A propos du client">
                    <div class="flex flex-col gap-4">
                        <div class="flex items-baseline gap-3">
                            <div class="flex flex-col gap-1">
                                <label for="gender">Civilité</label>
                                <p-select [options]="genderOptions" formControlName="gender" size="small" optionLabel="label" optionValue="value" [invalid]="form.get('gender')?.invalid && (form.get('gender')?.touched || form.get('gender')?.dirty)" required />
                                @if (form.get('gender')?.invalid && (form.get('gender')?.touched || form.get('gender')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Sexe requis.</p-message>
                                }
                            </div>
                            <div class="flex flex-col gap-1 flex-1">
                                <label for="customer">Nom</label>
                                <input type="text" pInputText pSize="small" [autocomplete]="false" id="customer" formControlName="customer" [invalid]="form.get('customer')?.invalid && (form.get('customer')?.touched || form.get('customer')?.dirty)" required>
                                @if (form.get('customer')?.invalid && (form.get('customer')?.touched || form.get('customer')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Nom du client requis.</p-message>
                                }
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="phone">Numéro téléphone</label>
                            <input pInputText pInputMask="+261 99 99 999 99" pSize="small" [autocomplete]="false" id="phone" formControlName="phone" [invalid]="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)" required />
                            @if (form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)) {
                                <p-message severity="error" size="small" variant="simple">Numéro téléphone requis.</p-message>
                            }
                        </div>
                        
                        @switch (packageTypeSignal()) {
                            @case (1) {
                                <div class="flex flex-col gap-4" formGroupName="location">
                                    <div class="flex flex-col gap-1">
                                        <label for="placeId">Lieu de livraison</label>
                                        <p-select [options]="locationCityOptions()" id="placeId" formControlName="placeId" size="small" [invalid]="form.get('location.placeId')?.invalid && (form.get('location.placeId')?.touched || form.get('location.placeId')?.dirty)" required [group]="true" [filter]="true" filterBy="label" [showClear]="true">
                                            <ng-template let-group #group>
                                                <div class="flex items-center gap-2 border-b border-b-gray-200 pb-2">
                                                    <i class="pi pi-map text-blue-500"></i>
                                                    <p class="text-black" style="font-size: 0.8rem;">{{ group.label }}</p>
                                                </div>
                                            </ng-template>
                                        </p-select>
                                        @if (form.get('location.placeId')?.invalid && (form.get('location.placeId')?.touched || form.get('location.placeId')?.dirty)) {
                                            <p-message severity="error" size="small" variant="simple">Lieu de livraison requise.</p-message>
                                        }
                                    </div>
                                    <div class="flex flex-col gap-1">
                                        <label for="precision">Repère</label>
                                        <input type="text" pInputText pSize="small" id="precision" [autocomplete]="false" formControlName="precision" [invalid]="form.get('location.precision')?.invalid && (form.get('location.precision')?.touched || form.get('location.precision')?.dirty)">
                                        @if (form.get('location.precision')?.invalid && (form.get('location.precision')?.touched || form.get('location.precision')?.dirty)) {
                                            <p-message severity="error" size="small" variant="simple">Repère invalide.</p-message>
                                        }
                                    </div>
                                </div>
                            }
                            @case (2) {
                                <div class="flex flex-col gap-4" formGroupName="location">
                                    <div class="flex flex-col gap-1">
                                        <label for="destination">Destination</label>
                                        <input type="text" pInputText pSize="small" id="destination" [autocomplete]="false" formControlName="destination" [invalid]="form.get('location.destination')?.invalid && (form.get('location.destination')?.touched || form.get('location.destination')?.dirty)" required>
                                        @if (form.get('location.destination')?.invalid && (form.get('location.destination')?.touched || form.get('location.destination')?.dirty)) {
                                            <p-message severity="error" size="small" variant="simple">Destination requise.</p-message>
                                        }
                                    </div>
                                    <div class="flex flex-col gap-1">
                                        <label for="cooperativeId">Coopérative</label>
                                        <p-select [options]="locationCooperativeOptions()" id="cooperativeId" formControlName="cooperativeId" size="small" [invalid]="form.get('location.cooperativeId')?.invalid && (form.get('location.cooperativeId')?.touched || form.get('location.cooperativeId')?.dirty)" required [group]="true" [filter]="true" filterBy="label" [showClear]="true">
                                            <ng-template let-group #group>
                                                <div class="flex items-center gap-2 border-b border-b-gray-200 pb-2">
                                                    <i class="pi pi-map text-blue-500"></i>
                                                    <p class="text-black" style="font-size: 0.8rem;">{{ group.label }}</p>
                                                </div>
                                            </ng-template>
                                        </p-select>
                                        @if (form.get('location.cooperativeId')?.invalid && (form.get('location.cooperativeId')?.touched || form.get('location.cooperativeId')?.dirty)) {
                                            <p-message severity="error" size="small" variant="simple">Coopérative requise.</p-message>
                                        }
                                    </div>
                                </div>
                            }
                            @default {
                                <p class="text-center text-gray-400">Veuillez séléctionner un type de colis</p>
                            }
                        }
                    </div>
                </p-fieldset>
                <p-fieldset legend="A propos du colis">
                    <div class="flex flex-col gap-4">
                        <div class="flex flex-col gap-1">
                            <label for="deliveryManId">Livreur</label>
                            <p-select [options]="menOptions()" formControlName="deliveryManId" size="small" optionLabel="label" optionValue="id" [invalid]="form.get('deliveryManId')?.invalid && (form.get('deliveryManId')?.touched || form.get('deliveryManId')?.dirty)" required [filter]="true" filterBy="label" [showClear]="true" />
                            @if (form.get('deliveryManId')?.invalid && (form.get('deliveryManId')?.touched || form.get('deliveryManId')?.dirty)) {
                                <p-message severity="error" size="small" variant="simple">Livreur requis.</p-message>
                            }
                        </div>
                        <div class="flex items-baseline gap-3">
                            <div class="flex flex-col gap-1">
                                <label for="price">Prix du colis (en Ariary)</label>
                                <p-inputnumber inputId="integeronly" id="price" size="small" formControlName="price" [invalid]="form.get('price')?.invalid && (form.get('price')?.touched || form.get('price')?.dirty)" required />
                                @if (form.get('price')?.invalid && (form.get('price')?.touched || form.get('price')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Prix requis.</p-message>
                                }
                            </div>
                            <div class="flex flex-col gap-1">
                                <label for="deliveryPrice">Frais de livraison (en Ariary)</label>
                                <p-inputnumber inputId="integeronly" id="deliveryPrice" size="small" formControlName="deliveryPrice" [invalid]="form.get('deliveryPrice')?.invalid && (form.get('deliveryPrice')?.touched || form.get('deliveryPrice')?.dirty)" required />
                                @if (form.get('deliveryPrice')?.invalid && (form.get('deliveryPrice')?.touched || form.get('deliveryPrice')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Frais de livraison requis.</p-message>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex flex-col">
                                <p class="font-bold">Colis fragile</p>
                                <p class="text-gray-400">En marquant ce colis comme fragile, un frais supplémentaire sera taxé au client.</p>
                            </div>
                            <div>
                                <p-toggleswitch name="isFragile" formControlName="isFragile" size="small" [invalid]="form.get('isFragile')?.invalid && (form.get('isFragile')?.touched || form.get('isFragile')?.dirty)" />
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex flex-col">
                                <p class="font-bold">Statut du colis</p>
                                <p class="text-gray-400">Choisissez le statut du colis.</p>
                            </div>
                            <div>
                                <p-select [options]="packageStatusOptions" formControlName="status" size="small" optionLabel="label" optionValue="id" [invalid]="form.get('status')?.invalid && (form.get('status')?.touched || form.get('status')?.dirty)" required appendTo="body">
                                    <ng-template #selectedItem let-selectedStatus>
                                        @if (selectedStatus) {
                                            <div class="flex items-center gap-2">
                                                <i [ngClass]="selectedStatus.icon" style="font-size: 0.8rem;"></i>
                                                <p style="font-size: 0.8rem;">{{ selectedStatus.label }}</p>
                                            </div>
                                        }
                                    </ng-template>
                                    <ng-template let-status #item>
                                        <div class="flex items-center gap-2">
                                            <i [ngClass]="status.icon"></i>
                                            <p>{{ status.label }}</p>
                                        </div>
                                    </ng-template>
                                </p-select>
                                @if (form.get('status')?.invalid && (form.get('status')?.touched || form.get('status')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Statut requis.</p-message>
                                }
                            </div>
                        </div>
                        @if (packageStatusControl.value === 2 && packageTypeSignal() === 2) {
                            <div [ngClass]="['bg-[#F1F5F9] p-3 rounded-xl', form.get('driverInformation')?.invalid && (form.get('driverInformation')?.touched || form.get('driverInformation')?.dirty) ? 'border border-red-500' : '']">
                                <div class="flex flex-col pb-3">
                                    <p class="font-bold">Coordonnée Obligatoire</p>
                                    <p class="text-gray-400">Insérez une image qui correspond à la coordonnée du coopérative ou du chauffeur responsable du colis.</p>
                                </div>
                                <div class="flex flex-col gap-4">
                                    <p-fileupload #fub name="documents" (onSelect)="handleOnSelectFile($event)" (onRemove)="handleOnRemoveFile()" [customUpload]="true" accept="image/*" maxFileSize="1000000" mode="advanced">
                                        <ng-template #header let-chooseCallback="chooseCallback">
                                            <div class="flex items-center justify-center w-full gap-2">
                                                <p-button [label]="driverInformationControl.value ? 'Modifier la coordonnée' : 'Ajouter la coordonnée'" (click)="chooseCallback($event, chooseCallback)" icon="pi pi-plus" size="small" severity="contrast" />
                                            </div>
                                        </ng-template>
                                        <ng-template #content let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
                                            <div class="flex flex-col gap-2">
                                                @if (fub.msgs && fub.msgs.length > 0) {
                                                    @for (msg of fub.msgs; track $index) {
                                                        <p-message [severity]="msg.severity" icon="pi pi-exclamation-circle" size="small">{{ msg.text }}</p-message>
                                                    }
                                                }
                                            </div>
                                            @if (files.length > 0) {
                                                @for (file of files; track file.name) {
                                                    <div class="flex justify-between items-center">
                                                        <div class="flex items-center gap-3">
                                                            <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
                                                            <div class="flex flex-col">
                                                                <span class="font-semibold text-ellipsis max-w-30 whitespace-nowrap overflow-hidden">{{ file.name }}</span>
                                                                <p class="text-gray-400">{{ file.size | formatImageSize }}</p>
                                                            </div>
                                                        </div>
                                                        <p-button icon="pi pi-trash" (click)="removeFileCallback($event)" [rounded]="true" [text]="true" severity="danger" />
                                                    </div>
                                                }
                                            } @else if (driverInformationControl.value) {
                                                <div class="flex items-center justify-center">
                                                    <p-image 
                                                        [src]="driverInformationControl.value.thumbnail" 
                                                        [previewImageSrc]="driverInformationControl.value.original"
                                                        [preview]="true"
                                                        alt="driver-information"
                                                        appendTo="body"
                                                        width="100"
                                                    />
                                                </div>
                                            }
                                        </ng-template>
                                        <ng-template #empty>
                                            <div class="h-30 flex items-center justify-center w-full">
                                                <p class="text-gray-400 text-center">Glissez-déposez la coordonnée ici ou cliquez sur ajouter.</p>
                                            </div>
                                        </ng-template>
                                    </p-fileupload>
                                </div>
                            </div>
                            @if (form.get('driverInformation')?.invalid && (form.get('driverInformation')?.touched || form.get('driverInformation')?.dirty)) {
                                <p-message severity="error" size="small" variant="simple">Corrdonnée requis.</p-message>
                            }
                        }
                    </div>
                </p-fieldset>
            </div>
            <div class="flex items-center justify-end gap-3">
                <p-button type="button" label="Annuler" severity="secondary" variant="outlined" size="small" (click)="handleClose(true)" [disabled]="loading()" />
                @if (!isUpdate()) {
                    <p-button type="submit" label="Ajouter et rester" severity="contrast" variant="outlined" size="small" [disabled]="loading()" />
                }
                <p-button 
                    type="submit" 
                    [label]="isUpdate() ? (loading() ? 'Modification' : 'Modifier') : (loading() ? 'Ajout' : 'Ajouter')" 
                    severity="contrast" 
                    size="small" 
                    [loading]="loading()" 
                    [disabled]="loading()"
                />
            </div>
        </div>
    </form>
</p-drawer>