@defer (when !isLoading()) {
    <div class="flex justify-start gap-4">
        @for (d of data(); track d.price) {
                <div class="border border-gray-200 rounded-md flex flex-col gap-4 flex-1 p-4">
                    <div class="flex justify-between items-center">
                        <div class="flex justify-start items-center gap-3">
                            <div class="flex items-center justify-center bg-blue-100 rounded-full p-3">
                                <i class="pi pi-map text-blue-500"></i>
                            </div>
                            <div class="flex flex-col gap-1">
                                <div class="flex justify-start items-center gap-2">
                                    <span [ngClass]="[d.promotion > 0 ? 'line-through' : 'font-bold']" style="font-size: 1rem;">{{ d.price.toLocaleString("fr-MG") }} Ar</span> 
                                    @if (d.promotion > 0) {
                                        <span class="text-red-500 font-bold" style="font-size: 1rem;">{{ d.promotion.toLocaleString("fr-MG") }} Ar</span>
                                    }
                                </div>
                                <div class="flex items-center gap-1">
                                    <p class="text-gray-500 text-xs">{{ d.location }}</p>
                                    @if (d.promotion > 0) {
                                        <p class="text-red-500 text-xs">en promotion</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <p-button
                            (click)="handleUpdate(d)"
                            icon="pi pi-ellipsis-h"
                            [rounded]="true"
                            [text]="true"
                            severity="contrast"
                            pTooltip="Gérer cette emplacement"
                            tooltipPosition="top"
                            [loading]="d.isUpdating"
                        />
                    </div>
                    <p-iconfield>
                        <p-inputicon class="pi pi-search" />
                        <input type="text" pInputText pSize="small" placeholder="Recherche" class="w-full" [disabled]="isLoading() || d.places.length <= 0" />
                    </p-iconfield>
                    <div class="flex justify-center items-center gap-4 flex-wrap overflow-y-auto max-h-100">
                        @for (p of d.places; track p.id) {
                            <p-badge [value]="p.name" severity="secondary" badgeSize="small" />
                        }
                    </div>
                </div>
        }
    </div>
} @placeholder (minimum 600ms) {
    <app-delivery-price-placeholder></app-delivery-price-placeholder>
}