@defer (when !isLoading()) {
    <div class="flex justify-start gap-4">
        @for (d of data(); track d.price) {
            <div class="border border-gray-200 rounded-md flex-1 p-4">
                <app-delivery-price-city-card [data]="d" (showFormEmitter)="handleShowForm($event)" [loading]="isLoading()"></app-delivery-price-city-card>
            </div>
        }
    </div>
} @placeholder (minimum 600ms) {
    <app-delivery-price-placeholder></app-delivery-price-placeholder>
}

<app-delivery-price-form [open]="showForm()" (onCloseEmitter)="handleShowForm()" [deliveryPrice]="selectedLocation()"></app-delivery-price-form>