<div class="flex flex-col">
    <div class="flex flex-col">
        <table class="w-full">
            <tr class="h-8">
                <td class="font-bold">Nom</td>
                <td>{{ deliveryMan().name }}</td>
            </tr>
            <tr class="h-8">                            
                <td class="font-bold">Prénom</td>
                <td>{{ deliveryMan().firstName }}</td>
            </tr>
            <tr class="h-8">                            
                <td class="font-bold">Date de naissance</td>
                <td>{{ deliveryMan().birthday | date:"dd MMM yyyy" }}</td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Age</td>
                <td>{{ deliveryMan().birthday | age }}</td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Adresse</td>
                <td>{{ deliveryMan().address }}</td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Mode de transport</td>
                <td>{{ deliveryMan().transport | transport }}</td>
            </tr>
        </table>
    </div>
    <div class="flex flex-col">
        <p-divider align="left">
            <p class="text-gray-400">Contact</p>
        </p-divider>
        <table class="w-full">
            @if (deliveryMan().email) {
                <tr class="h-8">
                    <td class="font-bold">Adresse email</td>
                    <td>
                        <p-button [label]="deliveryMan().email" size="small" link pTooltip="Envoyer un mail" tooltipPosition="top" />
                    </td>
                </tr>
            }
            <tr class="h-8">
                <td class="font-bold">Numéro téléphone</td>
                <td>{{ deliveryMan().phone | mask:'+999 99 99 999 99'}}</td>
            </tr>
        </table>
    </div>
    <div class="flex flex-col">
        <p-divider align="left">
            <p class="text-gray-400">Documents</p>
        </p-divider>
        <div class="flex items-center gap-2">
            <p-image [preview]="true" alt="CIN" width="100" style="border-radius: 5px;" pTooltip="Voir la copie du CIN" tooltipPosition="top" appendTo="body">
                <ng-template #indicator>
                    <i class="pi pi-eye" style="font-size: 0.8rem;"></i>
                </ng-template>
                <ng-template #image>
                    <img [src]="deliveryMan().cin!.thumbnail" alt="CIN" width="100" style="border-radius: 5px;" />
                </ng-template>
                <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                    <img [src]="deliveryMan().cin!.original" alt="CIN" [style]="style" (click)="previewCallback()" />
                </ng-template>
            </p-image>
            <p-image [preview]="true" alt="Residence certificate" width="100" style="border-radius: 5px;" pTooltip="Voir le certicat de résidence" tooltipPosition="top" appendTo="body">
                <ng-template #indicator>
                    <i class="pi pi-eye" style="font-size: 0.8rem;"></i>
                </ng-template>
                <ng-template #image>
                    <img [src]="deliveryMan().residence!.thumbnail" alt="Residence certificate" width="100" style="border-radius: 5px;" />
                </ng-template>
                <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                    <img [src]="deliveryMan().residence!.original" alt="Residence certificate" [style]="style" (click)="previewCallback()" />
                </ng-template>
            </p-image>
        </div>
    </div>
</div>