<div class="flex flex-col">
    <div class="flex flex-col">
        <table class="w-full">
            <tr class="h-8">
                <td class="font-bold">Nom</td>
                <td>RAKOTOARISOA</td>
            </tr>
            <tr class="h-8">                            
                <td class="font-bold">Prénom</td>
                <td>Gabriel Parany</td>
            </tr>
            <tr class="h-8">                            
                <td class="font-bold">Date de naissance</td>
                <td>01 Octobre 2000</td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Age</td>
                <td>25 ans</td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Adresse</td>
                <td>Mandroseza</td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Mode de transport</td>
                <td>Velo</td>
            </tr>
        </table>
    </div>
    <div class="flex flex-col">
        <p-divider align="left">
            <p class="text-gray-400">Contact</p>
        </p-divider>
        <table class="w-full">
            <tr class="h-8">
                <td class="font-bold">Adresse email</td>
                <td>
                    <p-button label="parany@gmail.com" size="small" link pTooltip="Envoyer un mail" tooltipPosition="top" />
                </td>
            </tr>
            <tr class="h-8">
                <td class="font-bold">Numéro téléphone</td>
                <td>038 71 963 22</td>
            </tr>
        </table>
    </div>
    <div class="flex flex-col">
        <p-divider align="left">
            <p class="text-gray-400">Documents</p>
        </p-divider>
        <div class="flex flex-col gap-1">
            <p-button label="Copie du CIN" icon="pi pi-id-card" size="small" link severity="info" pTooltip="Voir la copie du CIN" tooltipPosition="right" />
            <p-button label="Certificat de résidence" icon="pi pi-file" size="small" link severity="info" pTooltip="Voir le certificat de résidence" tooltipPosition="right" />
        </div>
    </div>
</div>