<div class="flex justify-end items-center gap-3">
    @if (loading()) {
        <p-skeleton width="10rem" height="2.1rem"/>
        <p-skeleton width="10rem" height="2.1rem"/>
    } @else {
        @defer (on idle) {
            <div class="flex items-center gap-2 py-2 px-3 border border-gray-200 rounded-md">
                <i class="pi pi-building text-blue-500"></i>
                <p class="text-gray-500">{{ counts().city }} {{ 'Emplacement' | plural:counts().city }}</p>
            </div>
            <div class="flex items-center gap-2 py-2 px-3 border border-gray-200 rounded-md">
                <i class="pi pi-truck"></i>
                <p class="text-gray-500">{{ counts().cooperative }} {{ 'Coopérative' | plural:counts().cooperative }}</p>
            </div>
        } @placeholder (minimum 600ms) {
            <p-skeleton width="10rem" height="2.1rem"/>
            <p-skeleton width="10rem" height="2.1rem"/>
        }
    }
</div>