<div class="flex items-center gap-3">
    <div class="border border-gray-200 rounded-xl p-4 flex-1">
        <div class="flex flex-col items-start gap-2">
            <div class="flex items-center justify-center p-4 rounded-full bg-blue-100">
                <i class="pi pi-truck text-blue-800"></i>
            </div>
            <small class="text-gray-500">Livraisons d'aujourd'hui</small>
            <div class="flex justify-between items-center w-full">
                <p class="font-bold" style="font-size: 1rem;">487</p>
                <div class="flex items-center bg-green-50 py-1 px-2 gap-1 rounded-md">
                    <i class="pi pi-arrow-up-right text-green-500" style="font-size: 0.6rem;"></i>
                    <small class="text-green-500">10.4%</small>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-200 rounded-xl p-4 flex-1">
        <div class="flex flex-col items-start gap-2">
            <div class="flex items-center justify-center p-4 rounded-full bg-amber-100">
                <i class="pi pi-wallet text-amber-800"></i>
            </div>
            <small class="text-gray-500">Frais de livraison d'ajourd'hui</small>
            <div class="flex justify-between items-center w-full">
                <p class="font-bold" style="font-size: 1rem;">428 000 Ar</p>
                <div class="flex items-center bg-red-50 py-1 px-2 gap-1 rounded-md">
                    <i class="pi pi-arrow-down-right text-red-500" style="font-size: 0.6rem;"></i>
                    <small class="text-red-500">10.4%</small>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-200 rounded-xl p-4 flex-1">
        <div class="flex flex-col items-start gap-2">
            <div class="flex items-center justify-center p-4 rounded-full bg-rose-100">
                <i class="pi pi-users text-rose-800"></i>
            </div>
            <small class="text-gray-500">Propriétaires</small>
            <div class="flex justify-between items-center w-full">
                <p class="font-bold" style="font-size: 1rem;">63</p>
                <div class="flex items-center bg-green-50 py-1 px-2 gap-1 rounded-md">
                    <i class="pi pi-arrow-up-right text-green-500" style="font-size: 0.6rem;"></i>
                    <small class="text-green-500">10.4%</small>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-200 rounded-xl p-4 flex-1">
        <div class="flex flex-col items-start gap-2">
            <div class="flex items-center justify-center p-4 rounded-full bg-black">
                <i class="pi pi-user text-white"></i>
            </div>
            <small class="text-gray-500">Livreurs</small>
            <div class="flex justify-between items-center w-full">
                <p class="font-bold" style="font-size: 1rem;">3</p>
                <div class="flex items-center bg-green-50 py-1 px-2 gap-1 rounded-md">
                    <i class="pi pi-arrow-up-right text-green-500" style="font-size: 0.6rem;"></i>
                    <small class="text-green-500">10.4%</small>
                </div>
            </div>
        </div>
    </div>
</div>