<div class="flex flex-col gap-2">
    <div class="flex items-center gap-2 flex-1">
        <div class="flex-1">
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText pSize="small" placeholder="Recherche" class="w-full" [disabled]="isLoading() || data().totalItems <= 0" />
            </p-iconfield>
        </div>
        <p-button icon="pi pi-sliders-h" size="small" severity="secondary" variant="outlined" [disabled]="isLoading() || data().totalItems <= 0" pTooltip="Filtre avancée" tooltipPosition="top" />
    </div>
    <div class="flex flex-col h-[calc(100vh-308px)] overflow-y-auto pr-2">
        @defer (when !isLoading()) {
            @for (d of data().deliveries; track $index) {
                <p-divider align="left">
                    <p class="text-gray-400">{{ d.date | todayYesterdayTomorrow:"dd MMMM yyyy" }}</p>
                </p-divider>
                <div class="flex flex-col gap-2">
                    @for (delivery of d.deliveries; track $index) {
                        <div (click)="handleSelectDelivery(delivery.id)" [ngClass]="['flex justify-between items-center p-2 rounded-md cursor-pointer', selectedDelivery() === delivery.id ? 'bg-blue-500' : 'bg-gray-100']">
                            <div class="flex items-center gap-4">
                                <i [ngClass]="['pi pi-shop', selectedDelivery() === delivery.id ? 'text-white' : 'text-blue-500']"></i>
                                <div class="flex flex-col">
                                    <p [ngClass]="['font-bold', selectedDelivery() === delivery.id ? 'text-white' : '']">{{ delivery.owner.commercialName }}</p>
                                    <div class="flex items-center gap-2">
                                        <i [ngClass]="['pi pi-user', selectedDelivery() === delivery.id ? 'text-gray-200' : 'text-gray-400']" style="font-size: 0.6rem;"></i>
                                        <p [ngClass]="[selectedDelivery() === delivery.id ? 'text-gray-200' : 'text-gray-400']">{{ delivery.owner.name }}</p>
                                    </div>
                                    <div class="flex items-center gap-3">
                                        <div class="flex items-center gap-2">
                                            <i [ngClass]="['pi pi-wallet', selectedDelivery() === delivery.id ? 'text-gray-200' : 'text-blue-500']" style="font-size: 0.6rem;"></i>
                                            <p [ngClass]="[selectedDelivery() === delivery.id ? 'text-gray-200' : 'text-blue-500']">{{ delivery.payment.toLocaleString('fr-FR') }} Ar</p>
                                        </div>
                                        <div class="flex items-center gap-1">
                                            <i [ngClass]="['pi pi-box', selectedDelivery() === delivery.id ? 'text-gray-200' : 'text-gray-400']" style="font-size: 0.6rem;"></i>
                                            <p [ngClass]="[selectedDelivery() === delivery.id ? 'text-gray-200' : 'text-gray-400']">{{ delivery.packageNumber }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p-tag [severity]="delivery.status | deliveryStatusSeverity" [value]="delivery.status | deliveryStatus" [rounded]="true" />
                        </div>
                    }
                </div>
            } @empty {
                <div class="flex flex-col flex-1 justify-center items-center">
                    <p class="text-gray-400">Aucune livraison trouvée</p>
                </div>
            }
        } @placeholder (minimum 600ms) {
            <app-deliveries-placeholder></app-deliveries-placeholder>
        }
    </div>
</div>