<div class="flex flex-col gap-6 py-8">
    <div class="flex flex-col">
        <h1 class="text-xl">Bienvenue</h1>
        <p class="text-gray-500">Connectez-vous pour accéder à votre tableau de bord</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-1">
                <label for="email">Email</label>
                <input type="email" pInputText pSize="small" id="email" formControlName="email" [invalid]="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)" required>
                @if (form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)) {
                    <p-message severity="error" size="small" variant="simple">Email requis.</p-message>
                }
            </div>
            <div class="flex flex-col gap-2">
                <div class="flex flex-col gap-1">
                    <label for="password">Mot de passe</label>
                    <input type="password" pInputText pSize="small" id="password" formControlName="password" [invalid]="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)" required>
                    @if (form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Mot de passe requis.</p-message>
                    }
                </div>
                <div class="flex justify-end">
                    <p-button label="Mot de passe oublié ?" link size="small"></p-button>
                </div>
            </div>
            <div class="flex flex-col">
                <p-button type="submit" label="Se connecter" severity="info" size="small" styleClass="w-full"></p-button>
                <p-divider align="center" type="dotted">
                    <p class="text-gray-500">ou</p>
                </p-divider>
                <div class="flex justify-center">
                    <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
                </div>
            </div>
        </div>
    </form>
</div>