<div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
        <div class="flex flex-col">
            <h1 class="text-xl text-blue-950">Livraisons</h1>
            <p class="text-gray-400">Un aperçu détaillé de l'historique et du statut de tous les colis.</p>
        </div>
        <app-deliveries-count></app-deliveries-count>
    </div>    
    <div class="flex gap-3 h-[calc(100vh-120px)]">
        <div class="flex flex-col gap-2 border rounded-xl border-gray-200 pb-2 flex-1">
            <div class="flex justify-between items-center pt-3 px-4">
                <h1 class="text-gray-400">Liste des livraisons</h1>
                <div class="flex justify-end gap-3">
                    <p-button icon="pi pi-refresh" size="small" severity="secondary" variant="outlined" pTooltip="Rafraîchir la liste" tooltipPosition="top" />
                    <p-button icon="pi pi-plus" size="small" severity="contrast" pTooltip="Nouvelle livraison" tooltipPosition="top" />
                </div>
            </div>
            <p-tabs [value]="0">
                <p-tablist>
                    @for (tab of tabs; track tab.id) {
                        <p-tab [value]="tab.id" class="flex items-center gap-2 text-inherit">
                            <i [class]="tab.icon"></i>
                            <span>{{ tab.label }}</span>
                        </p-tab>
                    }
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel [value]="0" #firstTab>
                        @if (firstTab.active()) {
                            <app-deliveries-by-owners (onSelectEmitter)="handleOnSelectDelivery($event)"></app-deliveries-by-owners>
                        }
                    </p-tabpanel>
                    <p-tabpanel [value]="1" #secondTab>
                        @if (secondTab.active()) {
                            <app-deliveries-by-men></app-deliveries-by-men>
                        }
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
        <div class="flex flex-col gap-2 border rounded-xl border-gray-200 py-3 px-4 flex-3">
            @if (firstTab.active()) {
                <app-delivery-packages-by-owners [deliveryId]="selectedDeliveryId()"></app-delivery-packages-by-owners>
            }
            @if (secondTab.active()) {
                <app-delivery-packages-by-men></app-delivery-packages-by-men>
            }
        </div>
    </div>
</div>