<div class="flex flex-col gap-4">
    <div class="flex justify-end gap-3">
        <p-button label="Assigner un nouveau salaire" (click)="handleOpenForm()" icon="pi pi-plus" size="small" severity="contrast" [disabled]="isLoading()" />
        <p-iconfield>
            <p-inputicon class="pi pi-search" />
            <input type="text" pInputText pSize="small" placeholder="Recherche" [disabled]="isLoading() || data().totalItems <= 0" />
        </p-iconfield>
    </div>
    @defer (when !isLoading()) {
        @if (data().totalItems > 0) {
            <div class="flex flex-col gap-2">
                <p-table [value]="data().salaries" [tableStyle]="{ 'min-width': '50rem' }" sortMode="multiple">
                    <ng-template #header>
                        <tr>
                            <th class="text-center hidden 2xl:table-cell">ID</th>
                            <th>Livreur</th>
                            <th pSortableColumn="amount">
                                <div class="flex justify-end gap-2">
                                    <span>Salaire</span>
                                    <p-sortIcon field="amount"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="applyAt">
                                <div class="flex justify-center gap-2">
                                    <span>Date d'affectation</span>
                                    <p-sortIcon field="applyAt"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="modifiedAt">
                                <div class="flex justify-center gap-2">
                                    <span>Dernière modification</span>
                                    <p-sortIcon field="modifiedAt"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="createdAt">
                                <div class="flex justify-center gap-2">
                                    <span>Date d'ajout</span>
                                    <p-sortIcon field="createdAt"></p-sortIcon>
                                </div>
                            </th>
                            <th style="text-align: center;">Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-salary>
                        <tr>
                            <td class="text-center hidden 2xl:table-cell">
                                {{ salary.deliveryMan.id }}
                            </td>
                            <td>
                                <div class="flex items-center gap-2">
                                    <p-image [preview]="salary.deliveryMan.profilePicture" alt="Profile picture" width="30">
                                        <ng-template #indicator>
                                            <i class="pi pi-eye text-white" style="font-size: 0.8rem;"></i>
                                        </ng-template>
                                        <ng-template #image>
                                            <p-overlay-badge [badgeDisabled]="!salary.deliveryMan.isOnline" severity="success">
                                                <p-avatar 
                                                    [label]="!salary.deliveryMan.profilePicture ? ((salary.deliveryMan.name + ' ' + salary.deliveryMan.firstName) | bigram) : undefined"
                                                    [image]="salary.deliveryMan.profilePicture ? salary.deliveryMan.profilePicture.thumbnail: undefined"
                                                    shape="circle" 
                                                    style="font-size: 12px;" 
                                                />
                                            </p-overlay-badge>
                                        </ng-template>
                                        <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                                            <img [src]="salary.deliveryMan.profilePicture.original" alt="Profile picture" [style]="style" (click)="previewCallback()" />
                                        </ng-template>
                                    </p-image>
                                    <div class="flex flex-col">
                                        <p class="font-bold">{{ salary.deliveryMan.gender | civility }} {{ salary.deliveryMan.name | uppercase }}</p>
                                        <p>{{ salary.deliveryMan.firstName }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="flex flex-col items-end">
                                    <p [ngClass]="salary.proratedAmount > 0 ? 'text-gray-400 line-through' : 'font-bold'">{{ salary.amount.toLocaleString('fr-FR') }} Ar</p>
                                    @if (salary.proratedAmount > 0) {
                                        <p class="font-bold text-orange-400" pTooltip="Salaire proratisé" tooltipPosition="bottom">{{ salary.proratedAmount.toLocaleString('fr-FR') }} Ar</p>
                                    }
                                </div>
                            </td>
                            <td style="text-align: center;">
                                <p [ngClass]="['cursor-pointer', isApplied(salary.applyAt) ? 'text-gray-400' : 'text-green-500']" [pTooltip]="salary.applyAt | duration" tooltipPosition="top">
                                    {{ salary.applyAt | date: 'dd MMMM yyyy' }}
                                </p>
                            </td>
                            <td style="text-align: center;">
                                {{ salary.modifiedAt ? (salary.modifiedAt | date: 'dd MMMM yyyy à HH:mm') : '' }}
                            </td>
                            <td style="text-align: center;">
                                {{ salary.createdAt | date: 'dd MMMM yyyy à HH:mm' }}
                            </td>
                            <td>
                                <div class="flex justify-center gap-2">
                                    <p-button (click)="handleOpenHistory(salary)" icon="pi pi-history" size="small" [rounded]="true" [text]="true" severity="secondary" pTooltip="Historique des salaires" tooltipPosition="left" />
                                    @if (!isPastMonth(salary.applyAt)) {
                                        <p-button (click)="handleOpenForm(salary)" icon="pi pi-pencil" size="small" [rounded]="true" [text]="true" severity="info" pTooltip="Modifier le salaire" tooltipPosition="left" />
                                    }
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-paginator 
                    (onPageChange)="onPageChange($event)" 
                    [first]="first()" 
                    [rows]="rows()" 
                    [totalRecords]="data().totalItems" 
                    [rowsPerPageOptions]="[10, 20, 30]"
                    class="p-paginator-sm"
                />
            </div>
        } @else {
            <div class="flex justify-center items-center h-[calc(100vh-150px)]">
                <div class="flex flex-col justify-center items-center gap-3 w-80">
                    <i class="pi pi-wallet"></i>
                    <div class="flex flex-col items-center">
                        <p class="text-center">Aucun salaire enregistré</p>
                        <p class="text-gray-400 text-center">Aucun salaire n'est enregistré pour le moment. Cliquez sur le bouton "Assigner un salaire" pour en ajouter un.</p>
                    </div>
                </div>
            </div>
        }
    } @placeholder (minimum 600ms) {
        <app-delivery-man-salaries-placeholder />
    }
</div>

<!-- drawers -->
<app-delivery-man-salary-history
    [visible]="showHistory()"
    (onClose)="handleOpenHistory()"
    [salary]="selectedSalary()!"
/>