<div class="flex flex-col gap-4 border rounded-xl border-gray-200 flex-1 p-4">
    <div class="flex justify-between items-center">
        <p class="font-bold">Status des colis</p>
        <p-button label="Aujourd'hui" icon="pi pi-calendar" iconPos="right" size="small" [text]="true" severity="secondary" />
    </div>
    <p-metergroup [value]="packages">
        <ng-template pTemplate="label"></ng-template>
        <ng-template pTemplate="meter" let-value>
            <span 
                [style.background]="value.color"
                [style.width]="value.value + '%'"
                class="flex items-center justify-center h-full transition-all duration-500 first:rounded-l-xl last:rounded-r-xl"
                pTooltip="{{ value.label }}: {{ value.value }} colis"
                tooltipPosition="top"
            ></span>
        </ng-template>
    </p-metergroup>
    <div class="flex flex-col gap-3">
        @for (package of packages; track $index) {
            <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                    <i [ngClass]="['pi pi-circle-fill', `text-[${package.color}]`]" style="font-size: 0.5rem;"></i>
                    <p>{{ package.label }}</p>
                </div>
                <div class="py-1 px-2 rounded-md">
                    <p [ngClass]="[`text-[${package.color}]`]">{{ package.value }}</p>
                </div>
            </div>
        }
    </div>
</div>