<p-drawer [(visible)]="open" [dismissible]="false" position="right" header="Nouveau propriétaire" (onHide)="handleClose()" styleClass="!w-[30rem]">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="h-full">
        <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col gap-4">
                <div class="flex items-center gap-3 w-full">
                    <div class="flex flex-col gap-1 w-full">
                        <label for="name">Nom</label>
                        <input type="text" pInputText pSize="small" id="name" formControlName="name" [invalid]="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)" required>
                        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Nom requis.</p-message>
                        }
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <label for="firstName">Prénom</label>
                        <input type="text" pInputText pSize="small" id="firstName" formControlName="firstName" [invalid]="form.get('firstName')?.invalid && (form.get('firstName')?.touched || form.get('firstName')?.dirty)" required>
                        @if (form.get('firstName')?.invalid && (form.get('firstName')?.touched || form.get('firstName')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Prénom requis.</p-message>
                        }
                    </div>
                </div>
                
                <div class="flex flex-col gap-1">
                    <label for="commercialName">Nom commercial</label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-shop" />
                        <input type="text" pInputText pSize="small" id="commercialName" class="w-full" formControlName="commercialName" [invalid]="form.get('commercialName')?.invalid && (form.get('commercialName')?.touched || form.get('commercialName')?.dirty)" required />
                    </p-iconfield>
                    @if (form.get('commercialName')?.invalid && (form.get('commercialName')?.touched || form.get('commercialName')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Nom commercial requis.</p-message>
                    }
                </div>

                <div class="flex items-center gap-3">
                    <div class="flex flex-col gap-1">
                        <label for="email">Email</label>
                        <p-iconfield>
                            <p-inputicon class="pi pi-envelope" />
                            <input type="text" pInputText pSize="small" id="email" formControlName="email" class="w-full" [invalid]="form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)" required />
                        </p-iconfield>
                        @if (form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Email requis.</p-message>
                        }
                    </div>
                    <div class="flex flex-col gap-1">
                        <label for="phone">Numéro téléphone</label>
                        <p-iconfield>
                            <p-inputicon class="pi pi-phone" />
                            <input type="text" pInputText pSize="small" id="phone" formControlName="phone" class="w-full" [invalid]="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)" required />
                        </p-iconfield>
                        @if (form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Numéro téléphone requis.</p-message>
                        }
                    </div>
                </div>
                
                <div class="flex flex-col gap-1">
                    <label for="password">Mot de passe <small class="text-gray-500">(par défaut)</small></label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <input type="text" pInputText pSize="small" id="password" class="w-full" formControlName="password" [invalid]="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)" required />
                    </p-iconfield>
                    @if (form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Mot de passe requis.</p-message>
                    }
                </div>

                <div class="flex flex-col gap-1">
                    <label for="planId">Plan</label>
                    <p-select [options]="ownerPlanOptions" formControlName="planId" size="small" optionLabel="label" optionValue="id"[invalid]="form.get('planId')?.invalid && (form.get('planId')?.touched || form.get('planId')?.dirty)" required />
                    @if (form.get('planId')?.invalid && (form.get('planId')?.touched || form.get('planId')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Plan requis.</p-message>
                    }
                </div>
            </div>

            <div class="flex items-center justify-end gap-3">
                <p-button type="button" label="Annuler" severity="secondary" variant="outlined" size="small" (click)="handleClose()" [disabled]="loading()" />
                <p-button type="submit" [label]="loading() ? 'Enregistrement...' : 'Enregistrer'" severity="contrast" size="small" [loading]="loading()" [disabled]="loading()" />
            </div>
        </div>
    </form>
</p-drawer>