<p-avatar (click)="profilePopover.toggle($event)" image="images/pdp.jpg" size="large" shape="circle" class="cursor-pointer" />

<p-popover #profilePopover>
    <div class="flex flex-col gap-3">
        <div class="flex justify-center items-center gap-2">
            <p-image src="images/pdp.jpg" [preview]="true" alt="Image" appendTo="body">
                <ng-template #indicator>
                    <i class="pi pi-eye text-white" style="font-size: 0.8rem;"></i>
                </ng-template>
                <ng-template #image>
                    <p-avatar image="images/pdp.jpg" shape="circle" size="normal" />
                </ng-template>
                <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                    <img src="images/pdp.jpg" alt="image" [style]="style" (click)="previewCallback()" />
                </ng-template>
            </p-image>
            <div class="flex flex-col">
                <p>D. Faniry Andriamihaja</p>
                <p class="text-gray-400">davidsonfaniry@gmail.com</p>
            </div>
        </div>
        <div class="flex flex-col">
            <a class="flex items-center gap-2 py-2 px-3 rounded-lg cursor-pointer hover:bg-gray-100">
                <i class="pi pi-user" style="font-size: 0.8rem;"></i>
                <span class="text-sm">Mon compte</span>
            </a>
            <a class="flex items-center gap-2 py-2 px-3 rounded-lg cursor-pointer hover:bg-gray-100">
                <i class="pi pi-lock" style="font-size: 0.8rem;"></i>
                <span class="text-sm">Sécurité</span>
            </a>
            <a (click)="handleLogout()" class="flex items-center gap-2 text-red-500 py-2 px-3 rounded-lg cursor-pointer hover:bg-red-100">
                <i class="pi pi-sign-out" style="font-size: 0.8rem;"></i>
                <span class="text-sm">Se déconnecter</span>
            </a>
        </div>
    </div>
</p-popover>