<p-drawer [(visible)]="open" [dismissible]="false" position="right" [header]="isUpdate() ? 'Modification' : 'Nouveau livreur'" (onHide)="handleClose()" styleClass="!w-[30rem]">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="h-full">
        <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col gap-4">
                <div class="flex items-center gap-3 w-full">
                    <div class="flex flex-col gap-1 w-full">
                        <label for="name">Nom</label>
                        <input type="text" pInputText pSize="small" id="name" formControlName="name" [invalid]="form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)" required>
                        @if (form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Nom requis.</p-message>
                        }
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <label for="firstName">Prénom</label>
                        <input type="text" pInputText pSize="small" id="firstName" formControlName="firstName" [invalid]="form.get('firstName')?.invalid && (form.get('firstName')?.touched || form.get('firstName')?.dirty)" required>
                        @if (form.get('firstName')?.invalid && (form.get('firstName')?.touched || form.get('firstName')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Prénom requis.</p-message>
                        }
                    </div>
                </div>
                <div class="flex items-center gap-3 w-full">
                    <div class="flex flex-col gap-1 w-full">
                        <label for="birthday">Date de naissance</label>
                        <p-datepicker formControlName="selectedDate" size="small" [invalid]="form.get('birthday')?.invalid && (form.get('birthday')?.touched || form.get('birthday')?.dirty)" />
                        @if (form.get('birthday')?.invalid && (form.get('birthday')?.touched || form.get('birthday')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Date de naissance requise.</p-message>
                        }
                    </div>
                    <div class="flex flex-col gap-1 w-full">
                        <label for="address">Adresse</label>
                        <input type="text" pInputText pSize="small" id="address" formControlName="address" [invalid]="form.get('address')?.invalid && (form.get('address')?.touched || form.get('address')?.dirty)" required>
                        @if (form.get('address')?.invalid && (form.get('address')?.touched || form.get('address')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Adresse requis.</p-message>
                        }
                    </div>
                </div>
                <div class="flex flex-col gap-1">
                    <label for="password">Mot de passe <small class="text-gray-500">(par défaut)</small></label>
                    <p-iconfield>
                        <p-inputicon class="pi pi-lock" />
                        <input type="text" pInputText pSize="small" id="password" class="w-full" formControlName="password" [invalid]="form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)" required />
                    </p-iconfield>
                    @if (form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Mot de passe requis.</p-message>
                    }
                </div>
                <div class="flex flex-col gap-1">
                    <label for="planId">Moyen de transport</label>
                    <p-select [options]="transportOptions" formControlName="planId" size="small" optionLabel="label" optionValue="id"[invalid]="form.get('planId')?.invalid && (form.get('planId')?.touched || form.get('planId')?.dirty)" required />
                    @if (form.get('planId')?.invalid && (form.get('planId')?.touched || form.get('planId')?.dirty)) {
                        <p-message severity="error" size="small" variant="simple">Mot de passe requis.</p-message>
                    }
                </div>
            </div>

            <div class="flex items-center justify-end gap-3">
                <p-button type="button" label="Annuler" severity="secondary" variant="outlined" size="small" (click)="handleClose()" />
                <p-button type="submit" [label]="isUpdate() ? 'Modifier' : 'Enregistrer'" severity="contrast" size="small" />
            </div>
        </div>
    </form>
</p-drawer>