<div class="flex flex-col gap-2">
    <div class="flex justify-between items-center">
        <div class="flex flex-col gap-1">
            <h1 class="text-gray-400">
                Liste des colis
            </h1>
            @if (delivery()) {
                <div class="flex items-center gap-2">
                    <p-tag [value]="packages().filter(p => p.status === 1).length + ' en cours'" severity="secondary" [rounded]="true" icon="pi pi-bullseye" />
                    <p-tag [value]="packages().filter(p => p.status === 2).length + ' ' + ('livré' | plural:(packages().filter(p => p.status === 2).length))" severity="secondary" [rounded]="true" icon="pi pi-check" />
                    <p-tag [value]="packages().filter(p => p.status === 3).length + ' ' + ('reporté' | plural:(packages().filter(p => p.status === 3).length))" severity="secondary" [rounded]="true" icon="pi pi-refresh" />
                    <p-tag [value]="packages().filter(p => p.status === 4).length + ' ' + ('annulé' | plural:(packages().filter(p => p.status === 4).length))" severity="secondary" [rounded]="true" icon="pi pi-times" />
                </div>
            }
        </div>
        <div class="flex justify-end gap-3">
            <p-button (click)="handleOpenDeliveryDetails()" icon="pi pi-eye" size="small" severity="secondary" variant="outlined" [disabled]="isLoading() || !delivery()" pTooltip="Détails de la livraison" tooltipPosition="top" />
            <p-button (click)="handleOpenDeliveryForm()" icon="pi pi-pencil" size="small" severity="secondary" variant="outlined" [disabled]="isLoading() || !delivery()" pTooltip="Modifier la livraison" tooltipPosition="top" />
            <p-button (click)="handleOpenPackageForm()" icon="pi pi-plus" size="small" severity="secondary" variant="outlined" [disabled]="isLoading() || !delivery()" pTooltip="Ajouter un colis" tooltipPosition="top" />
            <p-divider layout="vertical" />
            <p-button icon="pi pi-window-maximize" size="small" severity="secondary" variant="outlined" [disabled]="isLoading() || packages().length <= 0" pTooltip="Agrandir la vue" tooltipPosition="top" />
            <app-delivery-package-filter-button 
                [loading]="isLoading()" 
                [hasPackages]="packages().length > 0"
                [hasFilter]="hasFilter()"
                (clearFilterEmitter)="loadData()"
                (filterStatusEmitter)="handleFilterByStatus($event)"
                (filterFragilityEmitter)="handleFilterByFragility($event)"
            ></app-delivery-package-filter-button>
            <p-button (click)="loadData()" icon="pi pi-refresh" size="small" severity="secondary" variant="outlined" [disabled]="isLoading() || packages().length <= 0" pTooltip="Rafraîchir" tooltipPosition="top" />
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input type="text" pInputText [formControl]="searchControl" pSize="small" placeholder="Recherche" />
            </p-iconfield>
        </div>
    </div>

    <div class="flex-1">
        @if (isLoading()) {
            <app-delivery-packages-placeholder></app-delivery-packages-placeholder>
        } @else {
            @defer (on idle) {
                @if (delivery()?.id) {
                    <p-table [value]="filteredPackages()" [scrollable]="true" scrollHeight="flex" class="flex-1" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header>
                            <tr>
                                <th>ID</th>
                                <th>Client</th>
                                <th style="min-width: 8rem;">Numéro téléphone</th>
                                <th>Lieu de livraison</th>
                                <th>Livreur</th>
                                <th style="text-align: end;">Prix et frais de livraison</th>
                                <th style="text-align: center;">Fragile</th>
                                <th style="text-align: center; min-width: 8rem;">Statut</th>
                                <th style="text-align: center;">Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-package>
                            <tr [class.row-flash]="flashingPackageId() === package.id">
                                <td>{{ package.id }}</td>
                                <td>{{ package.customer.gender | civility }} {{ package.customer.name }}</td>
                                <td>
                                    <p class="font-bold">{{ package.customer.phone | mask:'+999 99 99 999 99' }}</p>
                                </td>
                                <td>
                                    <div class="flex items-center gap-2">
                                        <i [ngClass]="['pi text-blue-500', package.customer.inCity ? 'pi pi-map-marker' : 'pi pi-truck']"></i>
                                        <div class="flex flex-col">
                                            <p>{{ package.customer.inCity ? package.customer.inCity.place.name : (package.customer.outCity?.cooperative.name ?? "Inconnue") }}</p>
                                            <p class="text-gray-400">{{ package.customer.inCity ? package.customer.inCity.precision : (package.customer.outCity.destination ?? "Inconnue") }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ package.deliveryMan.gender | civility }} {{ package.deliveryMan.firstName }}</td>
                                <td>
                                    <div class="flex flex-col items-end">
                                        <p class="font-bold">{{ package.price.toLocaleString('fr-FR') }} Ar</p>
                                        <p class="text-gray-400">+ {{ package.deliveryPrice.toLocaleString('fr-FR') }} Ar</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex justify-center">
                                        @if (package.isFragile) {
                                            <i class="pi pi-exclamation-triangle text-orange-400" pTooltip="Ce colis est fragile" tooltipPosition="top"></i>
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="flex items-center justify-center">
                                        <app-delivery-package-status-editable 
                                            [package]="package"
                                            (onStatusChangeEmitter)="handlePackageStatus($event, package)"
                                        ></app-delivery-package-status-editable>
                                    </div>
                                </td>
                                <td>
                                    <div class="flex justify-center items-center gap-1">
                                        @if (package.driverInformation.publicId) {
                                             <p-image [src]="package.driverInformation.thumbnail" [previewImageSrc]="package.driverInformation.original" [preview]="true" alt="Image" width="50" style="border-radius: 5px;" pTooltip="Coordonnée du chauffeur" tooltipPosition="top">
                                                <ng-template #indicator></ng-template>
                                                <ng-template #image>
                                                    <p-button icon="pi pi-image" [rounded]="true" [text]="true" severity="secondary" size="small" />
                                                </ng-template>
                                            </p-image>
                                        }
                                        <p-button (click)="handleOpenPackageActivity(package)" icon="pi pi-history" [rounded]="true" [text]="true" severity="info" [loading]="package.isUpdating" size="small" pTooltip="Voir l'historique" tooltipPosition="top" />
                                        <p-button (click)="handleOpenPackageForm(package)" icon="pi pi-pencil" [rounded]="true" [text]="true" severity="secondary" [loading]="package.isUpdating" size="small" pTooltip="Modifier" tooltipPosition="top" />
                                        <p-button (click)="handleDelete(package)" icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger" [loading]="package.isDeleting" size="small" pTooltip="Supprimer" tooltipPosition="top" />
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                } @else {
                    <div class="flex justify-center items-center h-[calc(100vh-200px)]">
                        <div class="flex flex-col justify-center items-center gap-2 w-80">
                            <i class="pi pi-box"></i>
                            <div class="flex flex-col items-center">
                                <p class="text-center">Aucun colis trouvé</p>
                                <p class="text-gray-400 text-center">Merci de séléctionner une livraison dans la liste afin de voir ses colis</p>
                            </div>
                        </div>
                    </div>
                }
            } @placeholder (minimum 600ms) {
                <app-delivery-packages-placeholder></app-delivery-packages-placeholder>
            }
        }
    </div>
</div>

<app-delivery-package-form [open]="showPackageForm()" [deliveryId]="delivery()?.id" [pkg]="selectedPackage()" (onCloseEmitter)="handleOpenPackageForm(null, $event)"></app-delivery-package-form>
<app-delivery-form-drawer [open]="showDeliveryForm()" [delivery]="delivery()" (onCloseEmitter)="handleOpenDeliveryForm($event)"></app-delivery-form-drawer>
<app-package-activities [open]="showPackageActivity()" [packageId]="selectedPackage()?.id" (onCloseEmitter)="handleOpenPackageActivity()"></app-package-activities>
<app-delivery-details-drawer [open]="showDeliveryDetails()" [deliveryId]="delivery()?.id" (onCloseEmitter)="handleOpenDeliveryDetails()"></app-delivery-details-drawer>