<p-drawer [(visible)]="open" [dismissible]="false" position="right" [header]="isUpdate() ? 'Modification' : 'Nouveau colis'" (onHide)="handleClose()" styleClass="!w-[30rem]">
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" class="h-full">
        <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col gap-2">
                <p-fieldset legend="A propos du client">
                    <div class="flex flex-col gap-4">
                        <div class="flex items-center gap-2">
                            <div class="flex flex-col gap-1">
                                <label for="gender">Sexe</label>
                                <p-select [options]="genderOptions" formControlName="gender" size="small" optionLabel="label" optionValue="value" [invalid]="form.get('gender')?.invalid && (form.get('gender')?.touched || form.get('gender')?.dirty)" required />
                                @if (form.get('gender')?.invalid && (form.get('gender')?.touched || form.get('gender')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Sexe requis.</p-message>
                                }
                            </div>
                            <div class="flex flex-col gap-1 flex-1">
                                <label for="customer">Nom</label>
                                <input type="text" pInputText pSize="small" id="customer" formControlName="customer" [invalid]="form.get('customer')?.invalid && (form.get('customer')?.touched || form.get('customer')?.dirty)" required>
                                @if (form.get('customer')?.invalid && (form.get('customer')?.touched || form.get('customer')?.dirty)) {
                                    <p-message severity="error" size="small" variant="simple">Nom du client requis.</p-message>
                                }
                            </div>
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="phone">Numéro téléphone</label>
                            <input type="text" pInputText pSize="small" id="phone" formControlName="phone" [invalid]="form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)" required>
                            @if (form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)) {
                                <p-message severity="error" size="small" variant="simple">Numéro téléphone requis.</p-message>
                            }
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="place">Lieu de livraison</label>
                            <input type="text" pInputText pSize="small" id="place" formControlName="place" [invalid]="form.get('place')?.invalid && (form.get('place')?.touched || form.get('place')?.dirty)" required>
                            @if (form.get('place')?.invalid && (form.get('place')?.touched || form.get('place')?.dirty)) {
                                <p-message severity="error" size="small" variant="simple">Lieu de livraison requise.</p-message>
                            }
                        </div>
                        <div class="flex flex-col gap-1">
                            <label for="precision">Repère</label>
                            <input type="text" pInputText pSize="small" id="precision" formControlName="precision" [invalid]="form.get('precision')?.invalid && (form.get('precision')?.touched || form.get('precision')?.dirty)">
                            @if (form.get('precision')?.invalid && (form.get('precision')?.touched || form.get('precision')?.dirty)) {
                                <p-message severity="error" size="small" variant="simple">Repère requis.</p-message>
                            }
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="A propos du colis">
                    <div class="flex flex-col gap-1">
                        <label for="price">Prix du colis (en Ariary)</label>
                        <p-inputnumber inputId="integeronly" id="price" formControlName="price" [invalid]="form.get('price')?.invalid && (form.get('price')?.touched || form.get('price')?.dirty)" required />
                        @if (form.get('price')?.invalid && (form.get('price')?.touched || form.get('price')?.dirty)) {
                            <p-message severity="error" size="small" variant="simple">Numéro téléphone requis.</p-message>
                        }
                    </div>
                </p-fieldset>
            </div>
            <div class="flex items-center justify-end gap-3">
                <p-button type="button" label="Annuler" severity="secondary" variant="outlined" size="small" (click)="handleClose()" [disabled]="loading()" />
                <p-button type="submit" [label]="isUpdate() ? 'Modifier' : 'Enregistrer'" severity="contrast" size="small" [loading]="loading()" [disabled]="loading()" />
            </div>
        </div>
    </form>
</p-drawer>