<div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
        <div class="flex flex-col">
            <h1 class="text-xl font-bold text-blue-950">Frais de livraison</h1>
            <p class="text-gray-400">Les frais de livraison sont calculés en fonction de la distance et du poids du colis.</p>
        </div>
        <app-delivery-price-counts></app-delivery-price-counts>
    </div>
    <p-selectbutton 
        [options]="[
            { id: 1, label: 'Livraison à Antananarivo' }, 
            { id: 2, label: 'Livraison en province' }
        ]" 
        [(ngModel)]="selected" 
        optionLabel="label" 
        optionValue="id" 
        size="small"
        [unselectable]="true"
    >
        <ng-template #item let-item>
            <small class="font-bold">{{ item.label }}</small>
        </ng-template>
    </p-selectbutton>
    @if (selected === 1) {
        <app-delivery-price-city></app-delivery-price-city>
    }
    @if (selected === 2) {
        <app-delivery-price-cooperative></app-delivery-price-cooperative>
    }
</div>