<div class="flex flex-col gap-4 mt-5 w-100">
    <div class="flex flex-col items-center gap-2">
        <div class="flex items-center justify-center rounded-full p-5" [ngClass]="getBgColor()">
            <i [ngClass]="[icon, getColor()]" style="font-size: 1.5rem;"></i>
        </div>
        <h3 class="font-bold text-lg">{{ title }}</h3>
    </div>

    <p class="text-gray-500 text-center">{{ message }}</p>
    
    <div class="flex items-center justify-center gap-2">
        <p-button [label]="rejectLabel" severity="secondary" variant="text" size="small" (click)="handleReject()"></p-button>
        <p-button [label]="acceptLabel" [severity]="severity" size="small" (click)="handleAccept()"></p-button>
    </div>
</div>