<div class="flex flex-col gap-4">
    @if (data().totalItems > 0) {
        <div class="flex items-center justify-end gap-2">
            <p-button 
                (click)="filterDatePicker.toggle($event)" 
                [label]="filterLabel()" 
                icon="pi pi-filter" 
                [outlined]="true"
                severity="secondary" 
                size="small" 
            />
            <p-button 
                (click)="datepicker.toggle($event)" 
                [label]="filterDateLabel()" 
                icon="pi pi-calendar" 
                [outlined]="true"
                severity="secondary" 
                size="small" 
            />
        </div>
    }
    @if (isLoading()) {
        <app-dm-reward-rates-placeholder />
    } @else {
        @defer (on idle) {
            @if (data().totalItems > 0) {
                <div class="flex flex-col gap-2">
                    <p-table [value]="data().dmRewardRates" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template #header>
                            <tr>
                                <th class="text-center hidden 2xl:table-cell">ID</th>
                                <th>Livreur</th>
                                <th style="text-align: center;">Note</th>
                                <th style="text-align: center;">Nb. d'avis</th>
                                <th style="text-align: end;">Récompense</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-reward>
                            <tr>
                                <td class="text-center hidden 2xl:table-cell">{{ reward.deliveryMan.id }}</td>
                                <td>
                                    <div class="flex items-center gap-2">
                                        <p-image [preview]="reward.deliveryMan.profilePicture" alt="Profile picture" width="30">
                                            <ng-template #indicator>
                                                <i class="pi pi-eye text-white" style="font-size: 0.8rem;"></i>
                                            </ng-template>
                                            <ng-template #image>
                                                <p-overlay-badge [badgeDisabled]="!reward.deliveryMan.isOnline" severity="success">
                                                    <p-avatar 
                                                        [label]="!reward.deliveryMan.profilePicture ? ((reward.deliveryMan.name + ' ' + reward.deliveryMan.firstName) | bigram) : undefined"
                                                        [image]="reward.deliveryMan.profilePicture ? reward.deliveryMan.profilePicture.thumbnail: undefined"
                                                        shape="circle" 
                                                        style="font-size: 12px;" 
                                                    />
                                                </p-overlay-badge>
                                            </ng-template>
                                            <ng-template #preview let-style="style" let-previewCallback="previewCallback">
                                                <img [src]="reward.deliveryMan.profilePicture.original" alt="Profile picture" [style]="style" (click)="previewCallback()" />
                                            </ng-template>
                                        </p-image>
                                        <div class="flex flex-col">
                                            <p class="font-bold">{{ reward.deliveryMan.gender | civility }} {{ reward.deliveryMan.name | uppercase }}</p>
                                            <p>{{ reward.deliveryMan.firstName }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;">
                                    <p-rating [(ngModel)]="reward.rate" [readonly]="true" />
                                </td>
                                <td style="text-align: center;">
                                    @if (reward.totalRating > 0) {
                                        <p class="font-bold">{{ reward.totalRating }}</p>
                                    } @else {
                                        <p-tag severity="secondary" value="Aucun" [rounded]="true" />
                                    }
                                </td>
                                <td style="text-align: end;">
                                    <p class="font-bold" [ngClass]="reward.reward > 0 ? 'text-green-500' : ''">{{ reward.reward.toLocaleString('fr-FR') }} Ar</p>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p-paginator 
                        (onPageChange)="onPageChange($event)" 
                        [first]="first()" 
                        [rows]="rows()" 
                        [totalRecords]="data().totalItems" 
                        [rowsPerPageOptions]="[10, 20, 30]"
                        class="p-paginator-sm"
                    />
                </div>   
            } @else {
                <div class="flex justify-center items-center h-[calc(100vh-150px)]">
                    <div class="flex flex-col justify-center items-center gap-3 w-80">
                        <i class="pi pi-gift"></i>
                        <div class="flex flex-col items-center">
                            <p class="text-center">Aucune récompense</p>
                            <p class="text-gray-400 text-center">Aucune récompense n'est enregistrée pour le moment. Vérifiez si vous avez bien activé les récompenses.</p>
                        </div>
                    </div>
                </div>           
            }
        } @placeholder (minimum 600ms) {
            <app-dm-reward-rates-placeholder />
        } 
    }
</div>

<p-popover #datepicker>
    <p-datepicker 
        [(ngModel)]="selectedDate" 
        (onSelect)="handleSelectDate($event)" 
        [showButtonBar]="true" 
        [inline]="true" 
        [view]="(filter().filter === 'week' || filter().filter === 'day') ? 'date' : filter().filter === 'month' ? 'month' : 'year' "
        [maxDate]="today"
    >
        <ng-template #buttonbar let-todayCallback="todayCallback">
            <div class="flex justify-center w-full">
                <p-button label="Aujourd'hui" severity="info" variant="text" size="small" (onClick)="todayCallback()" />
            </div>
        </ng-template>
    </p-datepicker>
</p-popover>

<p-menu #filterDatePicker [model]="filterItems" [popup]="true" />