<div class="flex flex-col items-center gap-3 h-[calc(100vh-220px)]">
    <div class="flex flex-1 gap-3 w-full">
        <div class="border rounded-xl border-gray-200 p-4 flex-1">

        </div>
        <div class="flex flex-col gap-2 border rounded-xl border-gray-200 p-4 flex-3"></div>
    </div>
    <div class="flex w-full justify-between gap-5">
        <p-button (click)="handlePrevious()" label="Précédent" size="small" icon="pi pi-arrow-left" severity="secondary" />
        <p-button (click)="handleNext()" label="Créer la livraison" size="small" icon="pi pi-plus" severity="contrast" />
    </div>
</div>