<div class="flex flex-col gap-2">
    <div class="p-datatable p-component">
        <table class="p-datatable-table w-full">
            <thead class="p-datatable-thead">
                <tr>
                    <th class="text-center hidden 2xl:table-cell">ID</th>
                    <th style="width: 40%;">Livreur</th>
                    <th style="text-align: center;">Note</th>
                    <th style="text-align: center;">Nb. d'avis</th>
                    <th style="text-align: end;">Récompense</th>
                </tr>
            </thead>
            <tbody class="p-datatable-tbody">
                @for (item of [1, 2, 3, 4, 5, 6]; track $index) {
                    <tr>
                        <td class="hidden 2xl:table-cell"><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                        <td><p-skeleton /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="flex justify-center">
        <p-skeleton width="25%" height="2rem" />
    </div>
</div>